<h2>Cluster test</h2>
<p>While examining the console output, and try to ruin this application</p>
<p><a href="/boom">Boom</a> - route to cruely kill one of helpless nodejs processes,
and make cluster spawn another one to make you happy killing it too)</p>
<p><a href="/error">Error</a> - route to throw some stupid error,
that will be catched by error reporter middleware and will not stop the process.</p>
<p><a href="/baderror">Bad Error</a> - route to throw some really vicious error,
    that will cannot be catched by error reporter middleware, but will be catched by <a href="http://nodejs.org/docs/latest/api/domain.html">domain</a>, and will not stop the process.</p>