<div id="map"
  style="position: relative; left: 0; top: 0; width: 650px; height: 450px;"
  onclick="toggleTracking()"
  onmousemove="getPosition(event)"
  onmouseout="stopTracking()"
>

  <img src="http://static-maps.yandex.ru/1.x/?ll=37.62007,55.75363&l=sat&lang=en-US&size=650,450&z=13"
    style="position: relative; top: 0; left: 0; z-index: -9999"
  />

  <span data-bind="foreach: points">
    <a
      data-bind="attr: { 'href': '/dialog/'+id, 'title' : displayName }, style : { 'left': (left-15) +'px', 'top': (top-15) +'px' }"
      target="_blank"
      style="position: fixed; z-index: 3;">
      <img class="img-circle" data-bind="attr : { 'src' : gravatar30 }"/>
    </a>
  </span>
</div>

<script>
document.onreadystatechange = function () {
  if (document.readyState == "complete") {
    loadPoints();
  }
}
</script>