lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*~

pids
logs
results

node_modules/

nbproject
*sublime*
.idea/
.DS_Store
*.geany
examples/public/documentation
examples/public/coverage

out/
localhost:9050
