# Editor specific
.idea/
*.geany

# MacOs specific
.DS_Store

# Distribution folders
node_modules/

# Distribution files
tutorials/Changelog.md
tutorials/test.md
examples/public/coverage
examples/public/documentation