.git
.idea/
examples/
test/
node_modules/
Procfile
coverage/


lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*~

pids
logs
results

generateDocs.sh
jsdoc.conf.json
.travis.yml
.jshintrc

nbproject
*sublime*
docs
.idea/
.DS_Store
*.geany
