# Editor specific
.git/
.idea/
*.geany

# MacOs specific
.DS_Store

# Distribution folders
examples/
test/
node_modules/
Procfile
tutorials/

# Distribution files
jshint.xml
.jshintignore
.jshintrc

.gitignore
.npmignore
.travis.yml
apiary.apib
jslint.conf
jslint.xml
.istanbul.yml
jsdoc.conf.json

# To disable continious integration in production use
herokurules.txt