# Editor specific
.git/
.idea/
.DS_Store
*.geany

# Distribution folders
examples/
test/
node_modules/
Procfile
tutorials/

# Distribution files
jshint.xml
.jshintrc
.gitignore
.travis.yml
apiary.apib
jslint.conf
jslint.xml
.istanbul.yml
jsdoc.conf.json
