{{#user}}
<div class="row">
<img src="{{gravatar100}}" alt="Your gravatar"/>
<p>Id: <a href="/dialog/{{id}}">{{id}}</a></p>
<p>Account verified - {{#accountVerified}}yes{{/accountVerified}} {{^accountVerified}}no{{/accountVerified}}.</p>
<p>Online: {{isOnline}}</p>
<p>Name: {{name.givenName}} {{name.familyName}}</p>
</div>
<div class="row">
{{#keychain}}
{{#github}}
<p>Github profile #{{github}} attached.</p>
{{/github}}
{{#twitter}}
<p>Twitter profile #{{twitter}} attached.</p>
{{/twitter}}
{{#vkontakte}}
<p>Vkontakte profile #{{vkontakte}} attached.</p>
{{/vkontakte}}
{{/keychain}}
</div>
<div class="row">
<form action="/api/dialog/{{id}}" method="post">
  <input name="_csrf" type="hidden" value="{{csrf}}"/>
  <textarea name="message" placeholder="Type your message here"></textarea>
  <input type="submit" value="Send message"/>
</form>
</div>
{{/user}}
<div class="separator"></div>
<h2>Messages</h2>
{{#messages}}
<p>
  <strong><a href="/dialog/{{fromProfile.id}}">{{fromProfile.displayName}}</a></strong> : {{ago}} seconds ago : {{message}}
</p>
{{/messages}}
