<div class="row">
<h3>Welcome to our site!</h3>

{{^myself}}
<p><a href="/auth/login">Sign Up or Sign In please!</a></p>
{{/myself}}

{{#myself}}
<p>Your id is </p>
<p><a href="{{hostUrl}}dialog/{{myself.id}}">{{hostUrl}}dialog/{{myself.id}}</a></p>
<p>You can use this link to allow others to chat to you!</p>
</div>
<div class="row">
  <h3>Talk to person</h3>
  <form method="post" action="/dialog">
      <input type="hidden" name="_csrf" value="{{csrf}}"/>
      <p>Enter user's id here and you can talk to this user:</p>
      <p><input type="text" name="id" value="{{id}}" placeholder="DEADBEAF1111"/><input type="submit" value="Talk">
  </form>
{{/myself}}
</div>
<div class="separator"></div>
