[Unit]
Description=HuntJs application ran on behalf of user  %i
Before = mongodb.service redis.service

[Service]
Type=simple
User=%i
WorkingDirectory=%h/myHuntJSapp
Environment=NODE_ENV=production hostUrl=https://example.org/
ExecStart=/usr/local/bin/node %h/myHuntJSapp/index.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=huntjs

[Install]
WantedBy=multi-user.target