<div class="col-sm-12">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Sign In by username/email and password
                </h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" action="/auth/login" method="post">
                    <input type="hidden" name="_csrf" value="[[csrf]]"/>

                    <div class="form-group">
                        <label for="formName" class="col-sm-2 control-label">Email</label>

                        <div class="col-sm-10">
                            <input type="text" name="username" class="form-control" id="formName" value=""
                                   placeholder="yourEmail@example.org"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="passwordSignIn" class="col-sm-2 control-label">Password</label>

                        <div class="col-sm-10">
                            <input type="password" name="password" class="form-control" id="passwordSignIn" value=""/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="remember" value="true" id="remember"> Remember me
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="submit" class="btn btn-success" value="Sign in"/>
                            <input type="reset" class="btn btn-warning" value="Cancel"/>
                            <a class="btn btn-info" href="/auth/resetPassword">I have lost my password...</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Create account by email and password
                </h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" action="/auth/signup" method="post">

                    <input type="hidden" name="_csrf" value="[[csrf]]"/>

                    <div class="form-group">
                        <label for="usernameSignUp" class="col-sm-2 control-label">Username</label>

                        <div class="col-sm-10">
                            <input type="text" name="username" class="form-control" id="usernameSignUp" value=""
                                   placeholder="yourUsername"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="emailSignUp" class="col-sm-2 control-label">Email</label>

                        <div class="col-sm-10">
                            <input type="text" name="email" class="form-control" id="emailSignUp" value=""
                                   placeholder="yourEmail@example.org"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="passwordSignUp" class="col-sm-2 control-label">Password</label>

                        <div class="col-sm-10">
                            <input type="password" name="password" class="form-control" id="passwordSignUp" value=""/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="submit" class="btn btn-success" value="SignUp"/>
                            <input type="reset" class="btn btn-warning" value="Cancel"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    SignUp/Sign in using one of oAuth providers
                </h4>
            </div>
            <div class="panel-body">
                <p>
                    <a class="btn btn-success" href="/auth/google">Google</a>
                    <a class="btn btn-success" href="/auth/github">Github</a>
                    <a class="btn btn-success" href="/auth/twitter">Twitter</a>
                    <a class="btn btn-success" href="/auth/vk">VK</a>
                    <a class="btn btn-success" href="/auth/facebook">Facebook</a>
                    <a class="btn btn-success" href="/auth/steam">Steam</a>
                </p>
            </div>
        </div>
    </div>
</div>
</div>