<div class="row">
    <p>Set new password:</p>

    <form action="/auth/resetPassword" method="post">
        <input name="_csrf" type="hidden" value="{{csrf}}"/>
        <input name="welcomeLink" type="hidden" value="{{welcomeLink}}"/>

        <p>
            <label for="password">New Password</label><br/>
            <input type="password" name="password" id="password" value="" placeholder="someNewPasswordINeverForget"/>
        </p>

        <p><input type="submit" value="Enter"/></p>
    </form>
</div>
<div class="separator"></div>
